# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
#Add tag
# Other files and folders
.settings/
##Add tags
# Executables
*.swf
*.air
*.ipa
*.apk
#report
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
# Test build
